<!DOCTYPE html>
<html lang="en">
<head>
  <title>Production</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="./stylesheet/main.css">
  <link rel="stylesheet" href="./stylesheet/responsive.css">
  <link rel="icon" href="">
</head>
<body>
    <div class="side-bar ">
        <div class="dark-theme sm-gap top-margin-20 bottom-margin-20">
            <header class="logo-name">Uru-Ubi</header>
        </div>
        <div class="sm-gap dark-theme vh75 top-pad-15cent">
            <ul class="side-nav-list sixteen medium">
                <li class="side-nav-btn"><a class="format-link" href="./production-inputs.html">Production</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Records</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Investment</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Forecast</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Profile</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Sign Out</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="head">
            <div class="dk-green-bkg h50 right-left-p5">
                <img src="./images/ic_menu.svg" class="menu-button">
                <p class="fit centered twenty white-text roboto relative bottom22">Create Farm Input</p>
            </div>
            <div class="tab-container dk-gray h60">
                <div class="tab"><a href="./production-inputs.html" class="format-link">INPUTS</a></div>
                <div class="tab"><a href="./production-activities.html" class="format-link">ACTIVITIES</a></div>
                <div class="tab"><a href="./production-calendar.html" class="format-link">CALENDAR</a></div>
            </div>
        </div>
        <div class="form-container white-text align-center inline-block">
            <div class="input-form" id="create-input-app">
                <div v-if="error" class="error">* error: {{ errorData }}</div>

                <label for="fname" class="left">Name of Input</label>
                <input class="" type="text" id="fname" name="firstname"  v-model="userInput.name">

                <label for="batch" class="left">Batch</label>
                <input class="" type="text" id="batch" name="batch"  v-model="userInput.batch">
            
                <label for="unit-quantity" class="left">Unit Quantity</label>
                <input class="" type="text" id="unit-quantity" name="unit-quantity"  v-model="userInput.unitQuantity">
            
                <label for="Uprice" class="left">Unit Price</label>
                <input type="text" id="Uprice" name="Uprice"  v-model="userInput.price">

                <label for="Qused" class="left">Quantity Used</label>
                <input type="text" id="Qused" name="Qused"  v-model="userInput.qtyUsed">

                <div id="loader" v-if="loader"></div>
            
                <input type="submit" value="Create" v-on:click="submit">
            </div>
        </div>
    </div>
    
    <script src="./javascript/library/vue.js"></script>
    <script src="./javascript/create-input.js"></script>
    <script src="./javascript/buttons.js"></script>
</body>
</html>
