<!DOCTYPE html>
<html lang="en">
<head>
  <title>Production</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="./stylesheet/main.css">
  <link rel="stylesheet" href="./stylesheet/responsive.css">
  <link rel="icon" href="">
</head>
<body>
    <div class="side-bar ">
        <div class="dark-theme sm-gap top-margin-20 bottom-margin-20">
            <header class="logo-name">Uru-Ubi</header>
        </div>
        <div class="sm-gap dark-theme vh75 top-pad-15cent">
            <ul class="side-nav-list sixteen medium">
                <li class="side-nav-btn"><a class="format-link" href="./production-inputs.html">Production</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Records</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Investment</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Forecast</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Profile</a></li>
                <li class="side-nav-btn"><a class="format-link" href="#">Sign Out</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="head">
            <div class="dk-green-bkg h50 right-left-p5">
                <img src="./images/ic_menu.svg" class="menu-button">
                <p class="fit centered twenty white-text roboto relative bottom22">Production</p>
            </div>
            <div class="tab-container dk-gray h60">
                <div class="tab tab-main"><a href="./production-inputs.html" class="format-link">INPUTS</a></div>
                <div class="tab"><a href="./production-activities.html" class="format-link">ACTIVITIES</a></div>
                <div class="tab"><a href="./production-calendar.html" class="format-link">CALENDAR</a></div>
            </div>
        </div>
        <ul class="content white-text align-center" id="app-2">
            <li class="card input-card pointer" v-for="input in inputs" v-on:click="addListener" v-bind:id="inputs.indexOf(input)">
                <p>{{ input.name }}</p>
                <div class="fit centered abs-1 radius-5 white-bkg dk-text">{{ input.percentagecost }}%</div>
            </li>
            <li class="card pointer">
                <a href="./create-input-form.html">
                    <img src="./images/add-button.svg" class="add-button">
                </a>
            </li>
        </ul>
        <div class="modal" id="modal-app" v-if="seen" v-on:click="addListener">
            <div class="card-expand">
                <p class="align-center white-text twenty underline">{{ input.name }}</p>
                <table class="centered white-text">
                    <tr>
                        <td>Min. Quantity:</td>
                        <td>{{ input.unitquantity }}</td>
                    </tr>
                    <tr>
                        <td>Current Price:</td>
                        <td>&#8358;{{ input.price }}</td>
                    </tr>
                    <tr>
                        <td>Qty Used:</td>
                        <td>{{ input.qtyused }}</td>
                    </tr>
                    <tr>
                        <td>Current Total:</td>
                        <td>&#8358;{{ input.currenttotal }}</td>
                    </tr>
                    <tr>
                        <td>Percentage Cost:</td>
                        <td>{{ input.percentagecost }}</td>
                    </tr>
                </table>
                <div class="centered fit">
                    <button class="update-input-btn">
                        <a href="./update-input-form.html" class="format-link">Update</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/library/vue.js"></script>
    <script src="./javascript/input.js"></script>
    <script src="./javascript/buttons.js"></script>
</body>
</html>
